@import "src/style/variables";

.heading {
  margin-bottom: 1rem;
}

.loginHelp {
  margin: 2rem 0;
}

.boldText {
  font-weight: bold;
}

.svg {
  height: 4rem;
  margin: 1rem 0;
}

.loginButton {
  padding: 1rem 2rem;
  background-color: $colors-semantic-action-default !important;
  color: $colors-white;
}
