@import "src/style/variables";

.dropdown {
  position: relative;
}

.dropdownTrigger {
}

.dropdownMenu {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid $colors-gray;
  background-color: $colors-white;
  min-width: 15rem;
  filter: drop-shadow(0.1rem 0.1rem 0.25rem $colors-gray);
}

.dropdownItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  white-space: nowrap;
  cursor: pointer;
  border-bottom: 1px solid $colors-gray;

  * {
    cursor: pointer;
  }

  &:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  &:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom: none;
  }

  &:hover {
    background-color: $colors-lightgray;
  }
}
