
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
  cursor: pointer;

  &:hover .chevron {

  }

}

.headerRow {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
  }
}

.contentRow {
  padding: 0 2rem 2rem 2rem;
}

.statusbox {
  width: 5rem;
  height: 100%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.hasClient {
  background-color: #388F76;
}

.noClient {
  background-color: #c34c4f;
}

.chevron {
  width: 1rem;
  height: 1rem;
  margin-left: auto;
}