@import "src/style/variables";
@import "src/style/mixins";

.header {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: $content-width-max;
  max-width: $content-width-max;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 2.5rem;
    height: fit-content;

    g {
      fill: $colors-interface-highlight;
    }
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  label {
    color: $colors-interface-info-900;
  }
}

.headerLinks {
  display: flex;
  gap: 2rem;
  font-size: 1.25rem;

  @include respond-to("small") {
    display: none;
  }

  a {
    color: $colors-interface-highlight;
  }

  a:hover {
    border-bottom: 2px solid $colors-interface-highlight;
  }

  .active {
    border-bottom: 2px solid $colors-interface-highlight;
  }

  .inactive {
    border-bottom: none;
  }
}

.userInfo {
  display: flex;
  height: 100%;
  align-items: center;

  svg {
    width: 2rem;
    height: 2rem;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.menuLink {

}

.svg {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.25rem;
  background-color: transparent;
  border-radius: 50%;
  margin-left: 1rem;
  fill: white;

  @include respond-to("small") {
    margin-left: 0;
  }
}

.logoutLabel {
  color: $colors-danger-red;
}

.loginLabel label,
.loginLabel path {
  color: $colors-semantic-action-default;
  fill: $colors-semantic-action-default;
}

.loginButton label {
  cursor: pointer;
}
