
$colors-gray: #EFEFEF;
$colors-lightgray: #f4f5f6;
$colors-interface-info-900: #022F51;
$colors-semantic-action-default: #0062BA;
$colors-interface-highlight: #1EADF7;
$colors-white: #FFFFFF;
$colors-black: #000000;
$colors-danger-red: #e02e49;
$colors-success: #118849;

$content-width-max: 80rem;
$content-text-width-max: 60rem;