@import "src/style/variables";

.container {
  border-radius: 1rem;
  padding: 2rem 0;
  background-color: $colors-lightgray;
  margin-bottom: 1rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;

  div p:first-child {
    font-weight: bold;
  }
}

.icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  & > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.deleteButton {
  margin-left: auto;

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}
