@import "src/style/variables";

.container {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: $content-text-width-max;
  padding: 2rem;
  text-align: left;
}

.subheader {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.paragraph {
  margin-bottom: 2rem;
}